/build/
/out/
.gradle/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
/.idea/
*.iml

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Android specific
/app/build/
generated/
/captures/

# Keystore
*.jks
*.keystore

# Misc
thumbs.db
